$color_1: white;
$color_2: #749F60;
$color_3: #222;
$color_4: gold;
$font-family_1: 'great vibes';
$font-family_2: 'lobster';
$font-family_3: 'kalam';
$font-family_4: 'roboto';
$font-family_5: 'kamal';
$background-color_1: #4A849C;
$background-color_2: white;
$background-color_3: #DAD5D5;
$background-color_4: #CFAE6E;
$background-color_5: rgb(193, 148, 148);
$background-color_6: #b77342;

@import "https://fonts.googleapis.com/css2?family=Anuphan:wght@500&family=Chivo+Mono:ital,wght@1,100&family=Kalam&family=Lobster&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Anuphan:wght@500&family=Chivo+Mono:ital,wght@1,100&family=Lobster&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap";

* {
	margin: 0;
	padding: 0;
	/*box-shadow: 0 0 0 3px red;*/
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.texte {
	background-image: url('../../../src/jeunesse.jpg');
}

header {
	background-color: $background-color_1;
	width: 100%;
	nav {
		display: flex;
		align-items: center;
		max-width: 1500px;
		margin: auto;
		img {
			display: flex;
			width: 200px;
			object-fit: cover;
		}
		form {
			margin: auto;
		}
		ul {
			list-style: none;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
	
}




.menu {
	height: 60px;
	list-style: none;
	padding: 10px;
	margin: 40px;

	li {
		float: left;
		width: 150px;

		a {
			font-family: $font-family_2;
			&:link {
				display: block;
				color: $color_1;
				background: $background-color_1;
				padding: 6px 10px;
				border-right: 1px solid #FFF;
				text-align: center;
				text-decoration: none;
			}

			&:visited {
				display: block;
				color: $color_1;
				background: $background-color_1;
				padding: 6px 10px;
				border-right: 1px solid #FFF;
				text-align: center;
				text-decoration: none;
				display: block;
				color: $color_1;
				text-decoration: none;
				background-color: $background-color_1;
			}

			&:hover {
				background-color: $background-color_1;
			}

			&:active {
				background-color: $background-color_2;
			}
		}

		&:hover {
			.sub-menu {
				display: block;
			}
		}
	}

	.sub-menu {
		list-style-type: none;
		display: none;
		padding: 0;
		margin: 0;
		position: absolute;

		li {
			float: none;
			margin: 0;
			padding: 0;
			border-top: 1px solid transparent;
			border-right: 1px solid transparent;

			a {
				&:link {
					display: block;
					color: $color_1;
					text-decoration: none;
					background-color: $background-color_3;
				}

				&:hover {
					background-color: $background-color_4;
				}
			}
		}
	}
}

form {
	position: relative;

	input {
		padding: 1rem;
		
		width: 15rem;
		border-radius: 6px 0 0 6px;
		border: none;
		top: 0;
		left: 0;
		margin-right: 0;
	}

	button {
		cursor: pointer;
		box-shadow: 0 0 5px;
		position: absolute;
		border-radius: 0 6px 6px 0;
		width: 3rem;
		padding: 1rem;
		border: none;
		background-color: $background-color_2;
	}
}


main {
	width: 100%;

	nav {
		margin: auto;
		display: flex;
		justify-content: space-around;
		max-width: 1500px;
	}

	form {
		margin: auto;
	}


	h1 {
		text-align: center;
		padding-top: 1rem;
		font-family: $font-family_3;
	}

	.ext {
		text-align: center;
		margin-top: 1rem;
		max-width: 1500px;
		margin: auto;

		img {
			width: 100%;
			margin: auto;
			border-radius: 15px;
		}
	}

	.horaire {
		padding: 1rem 0 1rem 0;
		margin: auto;
		width: 100%;
		max-width: 1500px;
		background-color: $background-color_4;
		color: $color_1;
		font-family: $font-family_2;
		border-radius: 15px;
		margin-top: 1rem;
	}

	.jour {
		margin-top: 0.5rem;
		margin-left: 0.75rem;
	}

	.heure {
		margin-top: 0.5rem;
		margin-left: 0.75rem;
	}

	.info {
		margin-left: 0.75rem;
	}

	.intro {
		margin-left: 0.75rem;
	}

	.biographie {
		width: 100%;
		max-width: 1500px;
		border-radius: 15px;
		text-align: justify;
		margin: auto;
		background-color: $background-color_1;
		margin-top: 1rem;

		h2 {
			color: $color_4;
		}

		p {
			color: $color_4;
		}

		a {
			color: $color_1;
		}
	}

	.detail {
		margin-top: 1.5rem;
	}

	h2 {
		padding-top: 0.5rem;
		padding-left: 0.3rem;


	}

	.histoire {
		padding: 1rem;
		letter-spacing: 0.1rem;
	}

	.select {
		text-align: center;
		margin-top: 3rem;
		margin-bottom: 2rem;
		font-family: $font-family_2;
	}

	.titleBook {
		text-transform: uppercase;
		text-align: center;
		margin: auto;
		margin: 1rem;
		font-size: 20px;
		text-decoration: none;
		color: $color_3;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			background: $background-color_4;
			width: 15%;
			height: 3px;
			top: 2rem;
			transform-origin: 100% 0;
			transform: scaleX(0);
			transition: transform 0.4s;
		}

		&:hover {
			&::before {
				transform-origin: 0 0;
				transform: scaleX(1);
			}
		}
	}

	#actu {
		text-transform: uppercase;
		text-align: center;
		margin: auto;
		margin: 1rem;
		font-size: 20px;
		text-decoration: none;
		color: $color_3;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			background: $background-color_4;
			width: 7%;
			height: 3px;
			top: 2rem;
			transform-origin: 100% 0;
			transform: scaleX(0);
			transition: transform 0.4s;
		}

		&:hover {
			&::before {
				transform-origin: 0 0;
				transform: scaleX(1);
			}
		}
	}

	section {
		padding-top: 1.5rem;
		display: flex;
		justify-content: flex-start;
		background-color: $background-color_5;
		margin: auto;
		max-width: 1500px;
		flex-wrap: wrap;

		.blocBook {
			width: 33%
		}

		div {
			margin: auto;
			text-align: center;
			box-sizing: border-box;
			width: 33%;
			display: flex;
			flex-direction: column;

			.bookImg {
				object-fit: cover;
				transition: transform .1s;
			}

			.bookImg:hover {
				-ms-transform: scale(1.5);
				-webkit-transform: scale(1.5);
				transform: scale(1.5);
			}

			h3 {
				margin-top: 1.5rem;
				margin-bottom: 2.5rem;
				text-transform: uppercase;
				color: $color_4;
			}

			.priceImg {
				margin-bottom: 1rem;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: 1rem;

				p {
					font-weight: bold;
					font-size: 25px;
				}
			}

			.panier {
				height: 25px;
				width: 25px;
			}
		}
	}
}

footer {

	width: 100%;
	background-color: $background-color_6;

	p {
		color: $color_1;
	}

	h3 {
		font-family: $font-family_5;
		letter-spacing: 0.1rem;
	}
    .interL{
		margin-left: 0.5rem;
	}
	a {
		color: $color_1;
		text-decoration: none;
        margin-left: 0.5rem;
		&:hover {
			text-decoration: underline #CFAE6E;
		}
	}

	>div {
		margin-left: 2rem;
		max-width: 1500px;
		display: flex;
		justify-content: space-between;
		margin: auto;
		padding-top: 1rem;
	}

	img {
		width: 2rem;
		height: 2rem;
		margin-top: 0.5rem;
	}
	
}

.phone {
	display: flex;
}

.gmail {
	display: flex;
}

.insta {
	display: flex;
	align-items: center;
}

.fb {
	display: flex;
	align-items: center;
}

h3 {
	color: $color_1;
}

.comptefb {
	margin-top: 0.8rem;
	margin-left: 0.2rem;
	font-family: $font-family_5;
}

.compte {
	margin-top: 0.8rem;
	margin-left: 0.2rem;
	font-family: $font-family_2;
}

.num {
	margin-top: 0.8rem;
	margin-left: 0.2rem;
	font-family: $font-family_2;
}

.inter {
	margin-top: 0.8rem;
	margin-left: 0.2rem;
	font-family: $font-family_5;
}

.news {
	margin-bottom: 3rem;
	button {
		padding: 0.5rem;
		margin-top: 0.5rem;
	}
	
		input {
			padding: 1rem;
		}
		
		
	}
	
	@media screen and (max-width:1024px) {
		header {
			height: 4rem;
			width: 100%;
			
			nav {
				display: block;
				
				img {
					width: 150px;
				}
				
				ul {
					display: none;
				}
				form {
					display: none;
				}
			}
		}
		
		#burgerMenu {
		width: 15px;
		height: 25px;
		position: absolute;
		padding: 1 1.5rem;
		border: none;
		border-top: solid 3px white;
		border-bottom: solid 3px white;
		background-color: transparent;
		top: 1rem;
		right: 1rem;
		cursor: pointer;
		transform: rotateZ(0deg);
	}

	#burgerMenu::before,
	#burgerMenu::after {
		content: "";
		height: 2px;
		width: 100%;
		right: 0;
		position: absolute;
		background-color: white;
	}

	.active {
		border: none;
	}

	.active::before {
		transform: rotateZ(45deg);
		border-top: none;
		border-bottom: none;
	}

	.active::after {
		transform: rotateZ(-45deg);
	}

	.open {
		display: flex;
		flex-direction: column;
		text-align: center;
		background-color: #ECECEC;
	}
	main {
		section {
			.blocBook {
				width: 50%;
			}
		}
	}
}



@media screen and (max-width:824px) {
	footer {
		div {
			display: block;
			text-align: center;
			align-items: center;
			justify-content: center;

			h3 {
				margin: 1rem 0;
			}

			
		}
	}
}

@media screen and (max-width:415px) {
	main {
		section {
			.blocBook {
				width: 80%;
				padding: 1.5rem 1.5rem 1.5rem 1.5rem;
			}
		}
	}



	footer {
		div {
			display: block;
			text-align: center;
			align-items: center;
			justify-content: center;

			h3 {
				margin: 1rem 0;
			}

			
		}
	}
}